<meta presto name="Settings" />

<div class="flex flex-col">
  <div class="flex p-4 items-center">
    <div class="text-2xl font-semibold">
      <span> LDAP Settings</span>
    </div>
    <div class="order-1 ml-auto">
      <IconButton ::icon="check" ::label="Apply Settings" ::color="green" @click="$store.root.modal = 'settings_alert'">
      </IconButton>
    </div>
  </div>
  <div class="flex h-1 border-b mx-2"></div>
  <div class="p-2">
    <OptSection ::title="Server Settings">
      <Opt>
        <LabeledInput ::label="Root DN" x-model="$store.settings.rootDn"></LabeledInput>
      </Opt>
      <Opt>
        <LabeledInput ::label="User Base DN" x-model="$store.settings.usersBase"></LabeledInput>
      </Opt>
    </OptSection>
    <OptSection ::title="Included Users">
      <Opt>
        <Toggle ::label="Locked Out" ::value="$store.settings.includeLockedOut"></Toggle>
      </Opt>
      <Opt>
        <Toggle ::label="Expired" ::value="$store.settings.includeExpired"></Toggle>
      </Opt>
      <Opt>
        <Toggle ::label="Inactive" ::value="$store.settings.includeInactive"></Toggle>
      </Opt>
      <Opt>
        <Toggle ::label="Suspended" ::value="$store.settings.includeSuspended"></Toggle>
      </Opt>
    </OptSection>
    <OptSection ::title="View Options">
      <Opt>
        <div class="w-2"></div>
        <Checkbox ::label="Show Full Names" ::value="$store.settings.showFullName"></Checkbox>
        <div class="flex-1"></div>
      </Opt>
    </OptSection>
  </div>
</div>
